@{
    ViewBag.Title = "Home Page";
}

<div class="header-cus">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <h1>Nhà thuốc online nơi cung cấp đầy đủ các sản phẩm cho bạn thoải mái lựa chọn</h1>
                <p>Xem nhanh tất cả sản phẩm có sẵn của chúng tôi tại đây.</p>
                <a href="/games" role="button" class="btn btn-success">Xem ngay &#8594;</a>
            </div>
            <div class="col-5">
                <img class="w-100" src="~/UploadFile/nhathuoc.jpg">
            </div>

        </div>
    </div>

</div>

<!---recommended--->
<div class="recommended">
    <div class="container2">
        <div class="row">
            <div class="items">
                <img src="https://pacificcross.com.vn/wp-content/uploads/2023/06/Anh-huong-suc-khoe-3.jpeg">
            </div>
            <div class="items">
                <img src="https://images2.thanhnien.vn/528068263637045248/2023/7/17/1-mai-han-group-16895629488332053660025.jpg">
            </div>
            <div class="items">
                <img src="https://images2.thanhnien.vn/528068263637045248/2023/8/14/1-mai-han-16920015254312085844847.jpg">
            </div>
        </div>
    </div>

</div>

<!----featured products------>
<!--<div class="container2">
    <h2 class="title">Game nổi bật</h2>
    <div class="row">
        <div class="col-4 cart-product">
            <a href="/games/ChiTietSP/item.maSP">
                <img class="img-product" src="~/UploadFile/item.HinhAnh.FirstOrDefault().urlHinh">
                <div class="name-product">item.tenSP</div>

                <div class="price-product">Giá: 300</div>
            </a>
        </div>
        <div class="col-4">
            <img src="https://images-na.ssl-images-amazon.com/images/I/519-jJh31XL.jpg">
            <h4>Uncharted 4</h4>
         
            <p>Rs.1499</p>
        </div>
        <div class="col-4">
            <img src="https://external-preview.redd.it/Y-jtYiTDnDtKwNRUeu5nSeyBYEj6gOTb4FlQGVqoinY.jpg?auto=webp&s=0b03978d24dcd52410017d3bee604a93930bba41">
            <h4>Horizon Zero Dawn</h4>

            <p>Rs.1499</p>
        </div>

    </div>
  

</div>-->
<!----Gaming Accessories------>
<!--<div class="container2">
    <h2 class="title">Phụ kiện chơi game</h2>
    <div class="row">
        <div class="col-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ3MIJIPb22IWUPdisd_eeO--6WSlslWS8W_A&usqp=CAU">
            <h4>Logitech Headphones</h4>
           
            <p>Rs.6999</p>
        </div>
        <div class="col-4">
            <img src="https://www.bhphotovideo.com/images/images2500x2500/sony_3004379_dualshock_4_wireless_controller_1504381.jpg">
            <h4>Dual Shock 4 Controller</h4>
           
            <p>Rs.4499</p>
        </div>
        <div class="col-4">
            <img src="https://compass-ssl.xbox.com/assets/bd/f1/bdf1a7e3-261a-49dc-a863-0af85f145b8d.jpg?n=111101_Gallery-0_18_1350x759.jpg">
            <h4>Xbox One Controller</h4>
       
            <p>Rs.3999</p>
        </div>
    </div>
</div>-->